:root {
  --primary-bg: #000;         /* Black background */
  --primary-text: #f8f9fa;     /* Light text */
  --accent-color: #dc3545;     /* Bootstrap danger red */
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.custom-navbar {
  background-color: var(--accent-color);
}

.custom-brand {
  font-weight: bold;
  font-family: 'Lucida Handwriting', cursive;
}

.product-image {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.banner-image {
  object-fit: cover;
  height: 420px !important;
  width: 100%;
}
